<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Details</h1>
    <ul>
        <li>{{student.name}}</li>
        <li>{{student.roll}}</li>
        <li>{{student.course}}</li>
    </ul>

    <hr>
    <h1>Student Details</h1>
    <ul>
        <li>{{stu.name}}</li>
        <li>{{stu.roll}}</li>
        <li>{{stu.course}}</li>
    </ul>
</body>
</html>