<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    Signup
    <form action="" method="post">
        {% csrf_token %}
        {% for fr in form %}
        {{fr.label}} {{fr}} {{fr.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    {% if messages %}
    {% for mess in messages %}
    <span {% if mess.tags %}class="{{mess.tags}}"{% endif %} >{{mess}}</span>
    {% endfor %}
    {% endif %}
</body>

</html>