{% extends "core/base.html" %}
{% load static %}



{% block content %}
<div class="mt-5">
    <div class="text-center">
        <img class="img-thumbnail" src="{% static 'core/images/dipu.jpg' %}" width="250px" height="150px" alt="Profile">
    </div>

    <div class="mt-5 text-white">
        <h1 class="st-font mb-0 pb-0" style="font-weight:500; font-size:3.5rem;letter-spacing: 2px;">Hello,</h1>
        <div class="px-4" style="line-height:2rem;text-align: justify;">
            <p style="text-indent: 100px;"> I am <b class="text-warning">Dipankar Barman</b> Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Iure et nemo eos natus, commodi, fugiat quam minima nisi nostrum provident
                architecto laboriosam quisquam molestias consectetur accusantium impedit accusamus debitis
                exercitationem.</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est quisquam sapiente quas, quam eos quaerat
                doloribus dolor amet aliquam debitis animi velit architecto temporibus iusto eius at reiciendis
                veritatis, omnis quasi, laboriosam error. <b class="text-warning">Quibusdam fuga mollitia</b> quos
                voluptas assumenda, autem, hic non laboriosam impedit praesentium dolore laudantium corporis
                necessitatibus itaque maiores illo, commodi laborum enim in esse. Quasi et odio fugit nam doloremque
                perspiciatis placeat quidem earum dolorem suscipit! Rerum
                Dolores, sit culpa! Suscipit dignissimos error, voluptatem ut fugiat laudantium cumque facilis porro
                doloribus dicta inventore, officia illo!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, soluta. Laboriosam alias nulla nobis
                quae velit rerum neque assumenda voluptatem corporis provident, molestias facere suscipit impedit
                aliquam molestiae similique beatae nam voluptatibus autem optio. Nostrum assumenda voluptatum aut ut in.
                placeat, labore laborum sit veritatis neque dolor molestiae, totam mollitia. Voluptatem illum laboriosam
                cum repellat quod nemo assumenda sapiente voluptas voluptatum reiciendis, inventore ex natus sunt?</p>
        </div>
    </div>

    <div class="text-center my-3">
        <a class="btn btn-outline-warning" href="">Hire me</a>
        <a class="btn btn-outline-primary ms-5" href="">Contact</a>
    </div>

</div>

{% endblock content %}