<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Profile page</h1>
    <p>Hello {{user}} </p>
    {% if perms.enroll.delete_blog %}
    <input type="submit" value="Delete">
    {% else %}
    <p>No authorized Delete</p>
    {% endif %}

    {% if perms.enroll.view_blog %}
    <input type="submit" value="view">
    {% else %}
    <p>No authorized View</p>
    {% endif %}

    <a href="{% url 'logoutUser' %}">Logout</a>

</body>

</html>