<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>


<body>
    <h1>This is Home {{ok}}</h1>

    <a href="{% url 'show' 1 %}">One</a>
    <a href="{% url 'show' 2 %}">Two</a>
    <a href="{% url 'show' 3 %}">Three</a>
    <br>
    <a href="{% url 'showDetails' 1 4 %}">Four</a>
    <a href="{% url 'showDetails' 2 5 %}">Five</a>
    <a href="{% url 'showDetails' 3 6 %}">Six</a>


</body>

</html>