<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Profile page</h1>
    <p>Hello {{user}} </p>
    {% if messages %}
    {% for ms in messages %}
    <small {% if ms.tags %}class="{{ms.tags}}" {% endif %}>{{ms}}</small>
    {% endfor %}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_fiels_errors %}
        {{error}}
        {% endfor %}
        {% endif %}

        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}

        <input type="submit" value="Save">

    </form>
    <a href="{% url 'logoutUser' %}">Logout</a>
    <a href="{% url 'changePass' %}">Change Pass</a>
    <a href="{% url 'changePass1' %}">Change Pass 1</a>
</body>

</html>