{% extends 'core/base.html' %}
{% load static %}




{% block content %}
<div class="container mt-5 text-white">

    <h1 class="text-warning ">Services</h1>
    <hr class="border-warning">
    <div class="row mb-5 p-3">
        <div class="col-md-4">
            <div class="text-center">
                <i class=" icon-color fa-brands fa-searchengin fa-xl"></i>
                <h2>Search</h2>
                <p class="detail-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, fugit?</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class=" icon-color fa-brands fa-searchengin fa-xl"></i>
                <h2>Search</h2>
                <p class="detail-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, fugit?</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class=" icon-color fa-brands fa-searchengin fa-xl"></i>
                <h2>Search</h2>
                <p class="detail-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, fugit?</p>

            </div>
        </div>
    </div>
    <div class="row mb-5 p-3">
        <div class="col-md-4">
            <div class="text-center">
                <i class=" icon-color fa-brands fa-searchengin fa-xl"></i>
                <h2>Search</h2>
                <p class="detail-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, fugit?</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class=" icon-color fa-brands fa-searchengin fa-xl"></i>
                <h2>Search</h2>
                <p class="detail-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, fugit?</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class=" icon-color fa-brands fa-searchengin fa-xl"></i>
                <h2>Search</h2>
                <p class="detail-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, fugit?</p>

            </div>
        </div>
    </div>
    <div class="row mb-5 p-3">
        <div class="col-md-4">
            <div class="text-center">
                <i class=" icon-color fa-brands fa-searchengin fa-xl"></i>
                <h2>Search</h2>
                <p class="detail-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, fugit?</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class=" icon-color fa-brands fa-searchengin fa-xl"></i>
                <h2>Search</h2>
                <p class="detail-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, fugit?</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class=" icon-color fa-brands fa-searchengin fa-xl"></i>
                <h2>Search</h2>
                <p class="detail-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, fugit?</p>

            </div>
        </div>
    </div>
</div>

{% endblock content %}