    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration</title>
    </head>

    <body>
        <form action="" method="get">
           
            {% for fr in form %}
            <div>
                {{fr.label_tag}}
                {{fr}}
            </div>
            {% endfor %}
        </form>
        <hr>
        <h5>For Hiden Input</h5>
        <form action="" method="get">
           
            {% for fr in form.visible_fields %}
            <div>
                {{fr.label_tag}}
                {{fr}}
            </div>
            {% endfor %}
            <p>Hidden Field</p>
            {% for fr in form.hidden_fields %}
            <div>
                {{fr.label_tag}}
                {{fr}}
            </div>
            {% endfor %}
        </form>

    </body>

    </html>